@font-face {
   font-family: 'Franklin Gothic';
   src: url('../fonts/framd.eot');
   src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
}

/* .loader {
   position: absolute;
   top: 20%;
   left: 50%;
   border: 16px solid #ffffff;
   border-top: 16px solid #4b4b4b;
   border-bottom: 16px solid #4b4b4b;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   animation: loader 3s linear infinite;
}

@keyframes loader {
   0% {
      transform: translate(-20%, 50%) rotate(0deg);
   }

   100% {
      transform: translate(-20%, 50%) rotate(360deg);
   }
} */

.container {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
}

.header {
   background-color: #4b4b4b;
   width: 100%;
   height: 60px;
   position: fixed;
   z-index: 100;
}

.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}

.header__logo-item {
   font-size: 20px;
   animation: coming 3s ease;
}

@keyframes coming {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.header__menu {
   display: flex;
   list-style: none;
   text-transform: uppercase;
}

.header__menu-item {
   padding-right: 15px;
   animation: topShift 1s ease forwards;
   opacity: 0;
}

.header__menu-item:last-child {
   padding-right: 0;
}

@keyframes topShift {
   from {
      opacity: 0;
      margin-top: -80px;
   }

   to {
      opacity: 1;
      margin-top: 0;
   }
}

.header__menu-item:nth-child(2) {
   animation-delay: 0.3s;
}

.header__menu-item:nth-child(3) {
   animation-delay: 0.6s;
}

.header__menu-item:nth-child(4) {
   animation-delay: 0.9s;
}

.header__menu-item:nth-child(5) {
   animation-delay: 1.2s;
}

.header__menu-item:nth-child(6) {
   animation-delay: 1.5s;
}

.header__menu-link {
   transition: all 1s;
   transform: scale(1);
   display: inline-block;
}

.header__menu-link:active {
   transform: scale(1.2);
}

.header__menu-link:hover {
   color: rgb(252, 144, 4);
}

.header__menu-item {
   display: none;
}

#burger__menu-toggle {
   opacity: 0;
}

#burger__menu-toggle:checked~.burger__menu-btn>span {
   transform: rotate(45deg);
}

#burger__menu-toggle:checked~.burger__menu-btn>span::before {
   top: 0;
   transform: rotate(0);
}

#burger__menu-toggle:checked~.burger__menu-btn>span::after {
   top: 0;
   transform: rotate(90deg);
}

#burger__menu-toggle:checked~.burger__menu-box {
   visibility: visible;
   right: 0;
}

.burger {
   color: #4b4b4b;
}

.burger__menu-btn {
   display: flex;
   align-items: center;
   position: fixed;
   top: 20px;
   right: 20px;
   width: 22px;
   height: 22px;
   cursor: pointer;
   z-index: 1;
}

.burger__menu-btn>span,
.burger__menu-btn>span::before,
.burger__menu-btn>span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #ffffff;
   transition-duration: .25s;
}

.burger__menu-btn>span::before {
   content: '';
   top: -8px;
}

.burger__menu-btn>span::after {
   content: '';
   top: 8px;
}

.burger__menu-box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 60px;
   right: 0;
   width: 100%;
   margin: 0;
   padding: 15px 0;
   list-style: none;
   background-color: #ffffff;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   transition-duration: .25s;
}

.burger__menu-item {
   width: 90px;
   margin: 0 auto;
}

.burger__menu-link {
   display: block;
   padding: 5px 10px;
   color: #4b4b4b;
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
   transition-duration: .25s;
}

.burger__menu-link:visited {
   color: #4b4b4b;
}

.burger__menu-link:active {
   transform: scale(1.2);
}

.burger__menu-link:hover {
   background-color: #CFD8DC;
}

.main {
   background: url(../img/main/main__boy.png) 80% 100% / auto 80% no-repeat, url(../img/main/main__bg.jpg) center / cover no-repeat;
   height: 100%;
   position: relative;
}

.main::after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
}

.main__box {
   text-align: center;
   padding: 270px 20px 0 0;
   position: absolute;
   z-index: 2;
   opacity: 0;
   animation: titleMove 1s ease forwards;
   animation-delay: 1.5s;
}

@keyframes titleMove {
   from {
      opacity: 0;
      margin-left: -200px;
   }

   to {
      opacity: 1;
      margin-left: 0px;
   }
}

.main__title {
   font-size: 35px;
   color: #ffffff;
}

.main__subtitle {
   font-size: 18px;
   color: #ffffff;
   margin: 30px 0 55px;
}

.main__input {
   color: #ffffff;
   background-color: #545454;
   width: 95px;
   height: 42px;
   border: 0.5px solid #4b4b4b;
   border-radius: 5px;
   margin: 0 13px;
   transition: all 1.5s;
   transform: scale(1);
}

.main__input:hover {
   background-color: #ffffff;
   color: #4b4b4b;
}

.main__input:active {
   transform: scale(1.2);
}

.about {
   text-align: center;
}

.title-container {
   width: 100%;
   opacity: 0;
   animation: title 3s ease forwards;
   animation-delay: 1s;
}

.title {
   text-align: center;
   text-transform: uppercase;
   font-size: 30px;
   font-weight: 700;
   color: #263244;
   margin: 100px 0 30px;
}

@keyframes title {
   from {
      opacity: 0;
      margin-left: 1000px;
   }

   to {
      opacity: 1;
      margin-left: 0;
   }
}

.border-container {
   width: 100%;
   opacity: 0;
   animation: borderBottom 3s ease forwards;
   animation-delay: 1s;
}

.border-bottom {
   width: 70px;
   display: block;
   margin: 0 auto 60px;
}

@keyframes borderBottom {
   from {
      opacity: 0;
      margin-left: -1000px;
   }

   to {
      opacity: 1;
      margin-left: 0;
   }
}

.about__text {
   font-size: 14px;
   font-weight: 400;
   color: #3f495a;
   margin: 20px 0 30px;
}

.about__input {
   width: 150px;
   height: 35px;
   border: 0.5px solid #6f707e;
   border-radius: 6px;
   color: #6f707e;
   background: url(../img/about/about__icon.png) 5% 45% / auto 40% no-repeat;
   transition: all 1.5s;
   transform: scale(1);
}

.about__input:hover {
   background-color: #545454;
   color: #ffffff;
}

.about__input:active {
   transform: scale(1.2);
}

.skills {
   background: url(../img/skills/skills__bg.jpg) center / cover no-repeat;
   width: 100%;
}

.skills__title {
   padding: 105px 0 0;
}

.skills__container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
}

.skills-container-icons {
   width: 100%;
   opacity: 0;
   animation: icons 4s ease forwards;
   animation-delay: 2s;
}

@keyframes icons {
   from {
      opacity: 0;
      margin-left: 0;
   }

   to {
      opacity: 1;
      margin-left: 0;
   }
}

.skills__list {
   padding: 0 5px;
}

.skills__list-title {
   padding: 30px 0 10px;
   font-size: 16px;
   font-weight: 600;
   color: #cf7600;
}

.skills__list-subtitle {
   font-weight: 400;
   color: #3f495a;
   padding-bottom: 30px;
   width: 80%;
   margin: 0 auto;
}

.cases {
   padding-bottom: 170px;
}

.cases__subtitle {
   font-weight: 400;
   color: #3f495a;
   padding: 0 0 35px;
   text-align: center;
}

.cases__img {
   max-width: 100%;
}

.cases__container {
   padding-top: 45px;
}

.cases__info {
   text-align: center;
}

.cases__info-title {
   font-size: 22px;
   font-weight: 700;
   color: #263244;
   text-transform: uppercase;
}

.cases__info-subtitle {
   font-size: 16px;
   font-weight: 400;
   color: #3f495a;
   padding: 15px 0 15px;
}

.cases__info-site {
   font-size: 16px;
   display: block;
   font-weight: 400;
   padding: 15px 0 20px;
}

.cases__info-site:visited {
   color: #3f495a;
}

.cases__input {
   width: 201px;
   height: 44px;
   margin-bottom: 45px;
   background-color: #63b5ae;
   border-radius: 5px;
   font-size: 21px;
   color: #ffffff;
   text-transform: uppercase;
   transition: all 1.5s;
   transform: scale(1);
}

.cases__input:hover {
   background-color: #545454;
   color: #ffffff;
}

.cases__input:active {
   transform: scale(1.2);
}

.cases__project-title {
   font-size: 22px;
   font-weight: 700;
   color: #263244;
   text-align: center;
}

.cases__project-text {
   font-size: 17px;
   font-weight: 400;
   line-height: 1.2;
   color: #3f495a;
   padding-top: 5px;
}

.title-lowercase {
   text-transform: unset;
   margin-top: -100px;
}

.calculation__list-title {
   width: 80%;
   margin: 0 auto;
   color: #1c2534;
   text-transform: uppercase;
   font-weight: 700;
}

.calculation__select {
   display: block;
   width: 80%;
   height: 57px;
   border: 0.5px solid #6f707e;
   background-color: #efeeef;
   color: #737373;
   padding: 0 20px;
   margin: 20px auto 45px;
}

.calculation__input {
   width: 201px;
   height: 44px;
   display: block;
   margin: 0 auto 45px;
   background-color: #63b5ae;
   border-radius: 5px;
   font-size: 21px;
   color: #ffffff;
   text-transform: unset;
   transition: all 1.5s;
   transform: scale(1);
}

.calculation__input:hover {
   background-color: #545454;
   color: #ffffff;
}

.calculation__input:active {
   transform: scale(1.2);
}

.statistics {
   background: url(../img/statistics/statistics__bg.jpg) center / cover no-repeat;
   background-attachment: fixed;
}

.statistics__title {
   padding: 105px 0 0;
}

.statistics__container {
   padding: 45px 0 0;
   text-align: center;
}

.statistics__list-title {
   padding: 30px 0 10px;
   font-size: 16px;
   font-weight: 600;
   color: #cf7600;
}

.statistics__list-subtitle {
   font-weight: 400;
   font-size: 16px;
   color: #3f495a;
   padding-bottom: 55px;
}

.awards {
   text-align: center;
}

.awards__text {
   font-size: 14px;
   font-weight: 400;
   color: #3f495a;
   margin: 20px 0 30px;
}

.awards__text-name {
   font-weight: 400;
   color: #243042;
   padding: 0 0 50px;
}

.awards__text-name span {
   font-weight: 700;
}

.contacts {
   background: url(../img/contacts/contacts__bg.jpg) center / 100% 100% no-repeat;
   text-align: center;
}

.contacts__wrapper {
   padding: 0 10px;
}

.title__white {
   color: #ffffff;
   padding: 75px 0 0;
}

.contacts__subtitle {
   font-weight: 400;
   color: #ffffff;
}

.contacts__container {
   padding: 40px 0;
   text-align: center;
}

.border-bottom_margin {
   margin: 0 auto 40px;
}

.contacts__list {
   padding-bottom: 40px;
}

.contacts__img-icon {
   padding-bottom: 10px;
}

.contacts__address {
   font-size: 18px;
   font-weight: 400;
   color: #ffffff;
}

.contacts__email {
   display: block;
   font-size: 18px;
   font-weight: 400;
   color: #ffffff;
}

.contacts__phone {
   display: block;
   font-size: 18px;
   font-weight: 400;
   color: #ffffff;
}

.contacts__box {
   text-align: center;
}

.contacts__message {
   font-size: 18px;
   color: #ffffff;
   padding-bottom: 35px;
}

.contacts__form-input {
   width: 80%;
   height: 30px;
   margin-bottom: 10px;
   color: #5d5d5e;
   text-align: left;
   padding-left: 15px;
}

.contacts__form-input:hover {
   border: 3px solid #cf7600;
}

.contacts__textarea {
   display: block;
   width: 80%;
   height: 94px;
   color: #5d5d5e;
   padding: 10px 0 0 15px;
   margin: 0 auto 30px;
}

.contacts__textarea:hover {
   border: 3px solid #cf7600;
}

.contacts__btn {
   width: 125px;
   height: 35px;
   font-size: 18px;
   border: 0.5px solid #5d5d5e;
   border-radius: 5px;
   background-color: #545454;
   color: #ffffff;
   transition: all 1.5s;
   transform: scale(1);
}

.contacts__btn:hover {
   background-color: #ffffff;
   color: #545454;
}

.contacts__btn:active {
   transform: scale(1.2);
}

.contacts__social-list {
   display: flex;
   justify-content: space-between;
   padding: 70px 0 65px;
   max-width: 250px;
   margin: 0 auto;
}

.contacts__social-item {
   opacity: 0;
   animation: socialIcons 4s ease forwards;
   animation-delay: 2s;
}

@keyframes socialIcons {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.contacts__social-link {
   display: block;
   width: 27px;
   height: 27px;
   background-position: center;
   background-repeat: no-repeat;
}

.contacts__social-link:active {
   transform: scale(1.5);
}

.contacts__social-link_facebook {
   background-image: url(../img/contacts/contacts__facebook.png);
   transition: all 0.5s ease;
}

.contacts__social-link_facebook:hover {
   transform: rotate(15deg);
}

.contacts__social-link_twitter {
   background-image: url(../img/contacts/contacts__twitter.png);
   transition: all 0.5s ease;
}

.contacts__social-link_twitter:hover {
   transform: rotate(15deg);
}

.contacts__social-link_ball {
   background-image: url(../img/contacts/contacts__ball.png);
   transition: all 0.5s ease;
}

.contacts__social-link_ball:hover {
   transform: rotate(15deg);
}

.contacts__social-link_kat {
   background-image: url(../img/contacts/contacts__kat.png);
   transition: all 0.5s ease;
}

.contacts__social-link_kat:hover {
   transform: rotate(15deg);
}

.contacts__social-link_inctagram {
   background-image: url(../img/contacts/contacts__inctagram.png);
   transition: all 0.5s ease;
}

.contacts__social-link_inctagram:hover {
   transform: rotate(15deg);
}

.contacts__social-link_in {
   background-image: url(../img/contacts/contacts__in.png);
   transition: all 0.5s ease;
}

.contacts__social-link_in:hover {
   transform: rotate(15deg);
}

.footer__container {
   background: url(../img/map.jpg) center / cover no-repeat;
   height: 50vh;
   padding: 140px 0;
}

.footer__title {
   display: block;
   font-weight: 700;
   color: #000000;
   width: 135px;
   height: 50px;
   background-color: #ffffff;
   box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.23);
   padding: 18px 33px;
   margin: 0 auto;
}

.footer__text {
   background-color: #545454;
   height: 15vh;
   font-weight: 400;
   color: #ffffff;
   text-align: center;
   padding: 40px 0;
}